select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  #semester{
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  #btnSubmit3{
    margin-left: 0px;
  }
  #btnSubmit2{
    margin-left: 225px;
  }
.header{
  text-align: center;
}
body{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,0.8029586834733894) 0%, rgba(214,1,1,0.819765406162465) 100%);
}
.text-center{
   color:white;
}
.form-label{
   color:white;
}
 
.form-control{
  color: white !important; 
}

#areasofinterest{
  color: white;
}
#datepicker1{
  color:white;
  
}

.form-control::-webkit-input-placeholder{
  color: white;
  text-decoration-color: white;
  opacity: 1;
}
.form-control::-moz-placeholder {
  color: white;
  text-decoration-color: white;
  opacity: 1;
}
#register{
  text-align: center;
  color: white;
}
.urWelcomeJake{
  margin: auto;
  justify-content: center;
  text-align: center;
}
.submit-text{
  text-align: center;
  color: white;
}